#hero {
    background-color: var(--bg-1);
    min-height: 100vh;
    flex-direction: column;
}


#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: url('../img/noise.jpg') repeat;
    opacity: 0.25;
    mix-blend-mode: overlay;
    transform: scale(1);
}
/* winieta */
#hero::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle at center, transparent 40%, rgba(0,0,0,0.7) 100%);
}


#hero-content {
    flex-grow: 1;
    max-width: 1440px;
}

#content-quote {
    display: flex;
    flex-direction: column;
    color: white;
    font-style: italic;
}

#quote-text {
    /* min: 1.5rem, preferowany: 5% szerokoĹci ekranu, max: 4rem */
    font-size: clamp(1.5rem, 2vw, 4rem);
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    animation: breathe 6s ease-in-out infinite;
    margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@keyframes breathe {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.015); }
}

#quote-text .strong {
    color: #ff3333;
    font-weight: 800;
}