@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 80%;
    text-align: center;
}

#tresc {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}
